@font-face {
font-family: 'CT';
src:
 url('https://rawgit.com/nicolejonasson/CollaborativeTypeface/gh-pages/Type/CT-Regular.ttf');
}


html {
  height: 100%; }

body {
  margin: 0;
  height: 100%;
  position: relative;
}


#text{
  background: rgb(200,200,200,0.5);
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  color: white;

}

p.big{
  font-family: "ct";
  font-size: 80px;
  line-height: 0.0001;'
}

p.small{
  font-size: 20px;
  text-align: left;
  line-height: 1;
}
